<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.david.hlp.Spring.crawler.boss.mapper.CityDataMapper">

    <!-- 基础列映射 -->
    <resultMap id="BaseResultMap" type="com.david.hlp.Spring.crawler.boss.entity.CityData">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="url" property="url"/>
    </resultMap>

    <!-- 基础列 -->
    <sql id="Base_Column_List">
        id, name, code, url
    </sql>

    <!-- 根据ID查询城市数据 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List"/>
        FROM city_data
        WHERE id = #{id}
    </select>

    <!-- 根据城市代码查询城市数据 -->
    <select id="getByCode" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List"/>
        FROM city_data
        WHERE code = #{code}
    </select>

    <!-- 查询所有城市数据 -->
    <select id="listAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM city_data
    </select>

    <!-- 插入城市数据 -->
    <insert id="insert" parameterType="com.david.hlp.Spring.crawler.boss.entity.CityData" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO city_data (name, code, url)
        VALUES (#{name}, #{code}, #{url})
    </insert>

    <!-- 更新城市数据 -->
    <update id="update" parameterType="com.david.hlp.Spring.crawler.boss.entity.CityData">
        UPDATE city_data
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="code != null">code = #{code},</if>
            <if test="url != null">url = #{url},</if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 根据ID删除城市数据 -->
    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM city_data
        WHERE id = #{id}
    </delete>

    <!-- 根据城市代码删除城市数据 -->
    <delete id="deleteByCode" parameterType="java.lang.Integer">
        DELETE FROM city_data
        WHERE code = #{code}
    </delete>
</mapper>
